#include "C:\masm32\include\resource.h"


#define IDC_BUTTON_1        101
#define IDC_BUTTON_2        102
#define IDC_CHECKBOX1       103
#define IDC_CHECKBOX2       104
#define IDC_CHECKBOX3       105
#define IDC_CHECKBOX4       106
#define IDC_CHECKBOX5       107
#define IDC_CHECKBOX6       108
#define IDC_CHECKBOX7       109

300 DIALOGEX 0, 0, 164, 158
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Hide Debugger [Options]"
FONT 8, "Tahoma", 400, 0
{
 CONTROL "Save", IDC_BUTTON_1, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 62, 139, 48, 14, WS_EX_NOPARENTNOTIFY | WS_EX_STATICEDGE
 CONTROL "Close", IDC_BUTTON_2, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 139, 48, 14, WS_EX_NOPARENTNOTIFY | WS_EX_STATICEDGE
 CONTROL "Protect against:", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 3, 156, 108
 CONTROL "IsDebuggerPresent", IDC_CHECKBOX1, "button", BS_AUTOCHECKBOX | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 16, 120, 10, WS_EX_NOPARENTNOTIFY
 CONTROL "FindWindow/EnumWindows", IDC_CHECKBOX2, "button", BS_AUTOCHECKBOX | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 27, 120, 10, WS_EX_NOPARENTNOTIFY
 CONTROL "TerminateProcess", IDC_CHECKBOX3, "button", BS_AUTOCHECKBOX | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 38, 120, 10, WS_EX_NOPARENTNOTIFY
 CONTROL "Unhandled exception tricks", IDC_CHECKBOX4, "button", BS_AUTOCHECKBOX | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 49, 120, 10, WS_EX_NOPARENTNOTIFY
 CONTROL "OutputDebugString exploit", IDC_CHECKBOX5, "button", BS_AUTOCHECKBOX | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 60, 120, 10, WS_EX_NOPARENTNOTIFY
 CONTROL "Heap-checking tricks", IDC_CHECKBOX6, "button", BS_AUTOCHECKBOX | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 71, 120, 10, WS_EX_NOPARENTNOTIFY
 CONTROL "Detach", IDC_CHECKBOX7, "button", BS_AUTOCHECKBOX | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 119, 120, 10, WS_EX_NOPARENTNOTIFY
}

